.womanAndCat {
    width: 23%;
    /*verificar*/
}

.loginCard {
    margin: 10px;
    padding-top: 50px;
    display: block;
    justify-content: center;
    /*verificar*/
    justify-items: center;
}

.loginSection {
    margin: 45px 0 0 0;
    display: flex;
    justify-content: center;
}

.loginInput {
    display: block;
    margin: 10px;
    max-width: 20rem;
    max-height: 1.6rem;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.34);
}

.loginButton {
    width: 70px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.34);
    color: white;
    background-color: #09b385;
    text-align: center;
    font-weight: bold;
}